@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
html.body{
    width: 100%;
    height: 100%;
}
/* this is the page od the website */
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #f2cc8f;
    position: relative;
    padding: 0 2vw;
}

/* this is the navbar of the web page */
nav{
    padding: 0.1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-part2{
    display: flex;
    align-items: center;
    gap: 2vw;
    color: grey;
    margin-right: 25px;
}

.nav-part2 h4{
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 50px;
    color: black;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    transition: all ease 0.4s;
}
.nav-part2 h4::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -100%;
    height: 100%;
    width: 100%;
    background-color: black;
    transition: all ease 0.4s;
}
.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
.nav-part2 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 10;
}
.nav-part2 h4:hover a{
    color: white;
}

/* this is the body page */
#center{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom:1px solid black ;

}
#left h3{
    width: 30vw;
    font-size: 1.8vw;
    margin-left:10px;
    margin-bottom: 25px;
    line-height: 2vw;
}
#right h1{
    line-height: 8vw;
    font-size: 10vw;
    margin-bottom: 5px;
    text-align: right;
}
/* this is the animation above the video */
#hero-shape{
    position: absolute;
    width: 36vw;
    height: 36vw;
    background: #669bbc;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 0;
    top: 72vh;
    filter: blur(20px);
}

#hero-1{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background:linear-gradient(#219ebc,#8ecae6);
    position: absolute;
    animation-name: anime1;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(20px);
}
@keyframes anime1{
    from{
        transform: translate(-15%,-5%);
    }
    to{
        transform: translate(5%,15%);
    }
}

#hero-2{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background-color: #669bbc;
    position: absolute;
    animation-name:anime2;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
     filter: blur(20px);
}

@keyframes anime2{
    from{
        transform: translate(-55%,2%);
    }
    to{
        transform: translate(0%,-10%);
    }
}

/* this is the video */
 #page1 video{
    width: 100%;
    border-radius: 25px;
    margin-top:15px ;
    box-shadow: 0 5px 5px 10px;
    position: relative;
 }

 /* this is page2 */
 #page2{
    min-height: 100vh;
    width: 100%;
    background-color: #f2cc8f;
    position: relative;
    padding: 0 1vw;
 }
 .con{
    white-space: nowrap;
    display: inline-block;
    animation-name: movie;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count:infinite ;
 }
 @keyframes movie{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
  }
 #moving-text{
    white-space: nowrap;
    overflow-x: auto;
 }
 #moving-text::-webkit-scrollbar{
    display: none;
 }
  #moving-text h1{
    font-size: 6vw;
    display: inline-block;
  }
  .gola{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    margin: 1vw 1vw;
    display: inline-block;
  }
/* this is page2 bottom  */
#page2-bottom{
    margin-top: 3rem;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
    position: relative;
    z-index: 10;
}
#page2-bottom h1{
    font-size: 3vw;
    width: 50%;
}

#page2-part2{
    width: 30%;
}

#page2-part2 img{
    width: 70%;
    border-radius: 5px;
    box-shadow: 10px 5px 5px 0px;
    margin-left: 2.5vw;
}
#page2-part2 p{
    margin-top: 1vw;
    font-weight: 700;
}
/* this is the page2 animation */

#page2 .gooey{
    height: 30vw;
    width: 30vw;
    background:linear-gradient(to top,#bde0fe,#ffafcc);
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 25%;
    animation-name: gooey;
    animation-duration: 4s;
    animation-iteration-count:infinite ;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    filter: blur(6px);

}
@keyframes gooey{
    from{
        transform: translate(10%,-10% )skew(0);
    }
    to{
        transform: translate(-10%,10%)skew(-12deg);
    }
}
 /* this is page3 */
 #page3{
    min-height: 100vh;
    width: 100%;
    background-color: #f2cc8f;
    padding: 4vw 0;
 }

 #elem{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
 }
 #elem h1{
    font-size: 3vw;
    position: relative;
    z-index: 10;
 }
 #elem:hover .overlay{
    top: 0;
 }
 .overlay{
    height: 100%;
    width: 100%;
    background:orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all 0.2s ease;
 }

 #elem-container{

 }

 #fixed-image{
    height: 30vw;
    width: 24vw;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    top: 25%;
    z-index: 99;
    background-position: center;
    background-size: cover;
    display: none;
 }
 
